<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Все пользователи</title>
</head>
<body>

    <h1>Все пользователи</h1>

    <div>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Имя</th>
            <th>Фамилия</th>
            <th>Возраст</th>
            <th>E-mail</th>
            <th>Изменить</th>
            <th>Удалить</th>
        </tr>
        <tr th:each="user : ${users}">
            <td th:utext="${user.getId()}"></td>
            <td th:utext="${user.getName()}"></td>
            <td th:utext="${user.getSurname()}"></td>
            <td th:utext="${user.getAge()}"></td>
            <td th:utext="${user.getEmail()}"></td>
            <td><a th:href="@{/users/{id}/edit(id=${user.getId()})}">Изменить</a></td>
            <td><a th:method="DELETE" th:href="@{/users/{id}(id=${user.getId()})}">Удалить</a></td>
        </tr>
    </table>
    </div>

    <br/>
    <a href="/users/new">Создать нового пользователя</a>

</body>
</html>